<main class="files">
    <h2 class="file-title"><%=locals.currentFolder.folderName%></h2>
    <div class="table-wrapper">
        <table>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>link</th>
        </tr>
        <% if (locals.files) {%>
            <% files.forEach((file) => {%>
                <tr>
                    <td><%=file.fileName%></td>
                    <td><%=file.createdAt.toLocaleDateString()%></td>
                    <td><%=file.link%></td>
                </tr>
            <%})%>
        <%}%>
    </table>
    </div>
</main>
