<main style="border: 1px solid black;">
    <h2>My Files</h2>
    <p>Files listed here</p>
    <ul>
        <% if (locals.files) {%> 
            <% files.forEach((file) => {%>
                <li><%=file.link%></li>
            <%})%>
        <%}%>
    </ul>

</main>
