<section class="sidebar">
    <ul>
        <!-- Dropdown Menu Trigger -->
        <li class="dropdown">
            <a href="#" class="newFolder">New</a>
            <div class="dropdown-content">
                <a href="#" id="new-folder">New Folder</a>
                <a href="#" id="new-file">New File</a>
            </div>
        </li>
    </ul>
    <h2>Folders</h2>
    <ul>
        <% if (locals.folders) {%>
            <% folders.forEach((folder) => {%>
                <li><a href="/dashboard/<%= folder.id %>" class="folder-link <%= currentFolder && currentFolder.id === folder.id ? 'active-folder' : '' %>">
  <%= folder.folderName %>
</a>
</li>
            <%})%>
        <%}%>
    </ul>
</section>


<!-- Hidden Modal for New Folder -->
<div id="folderModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/folders" method="post" class="modal-form">
            <label for="folderName">Folder Name:</label>
            <input type="text" id="folderName" name="folderName">
            <button type="submit">Create</button>
        </form>
    </div>
</div>

<!-- Hidden File Input -->
<form id="fileUploadForm" action="/upload-file" method="post" enctype="multipart/form-data" style="display: none;">
    <input type="file" id="fileInput" name="fileInput" onchange="document.getElementById('fileUploadForm').submit();">
</form>