<section class="sidebar">
    <ul>
        <!-- Dropdown Menu Trigger -->
        <li class="dropdown">
            <a href="#" class="newFolder">New</a>
            <div class="dropdown-content">
                <a href="#" id="new-folder">New Folder</a>
                <a href="#" id="new-file">New File</a>
            </div>
        </li>
    </ul>
    <h2>Folders</h2>
    <ul>
        <% if (locals.folders) {%>
            <% folders.forEach((folder) => {%>
                <li><a href="/dashboard/<%=folder.id%>" class="folder-link"><%=folder.folderName%></a></li>
            <%})%>
        <%}%>
    </ul>
</section>

<!-- Hidden Modal for New Folder -->
<div id="folderModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/new-folder" method="post" class="modal-form">
            <label for="folderName">Folder Name:</label>
            <input type="text" id="folderName" name="folderName">
            <button type="submit">Create</button>
        </form>
    </div>
</div>

<!-- Hidden File Input -->
<form id="fileUploadForm" action="/upload-file" method="post" enctype="multipart/form-data" style="display: none;">
    <input type="file" id="fileInput" name="fileInput" onchange="document.getElementById('fileUploadForm').submit();">
</form>


<script>
    const modal = document.getElementById("folderModal");
    const newFolderBtn = document.getElementById("new-folder");
    const closeModal = document.querySelector(".modal .close");

    const dropdownTrigger = document.querySelector(".newFolder");
    const dropdownContent = document.querySelector(".dropdown-content");

    newFolderBtn.onclick = () => {
        modal.style.display = "block";
    };

    closeModal.onclick = () => {
        modal.style.display = "none";
    };

    window.onclick = (event) => {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };

    dropdownTrigger.addEventListener("click", (e) => {
        e.preventDefault();
        dropdownContent.classList.toggle("show");
    });

    window.addEventListener("click", (e) => {
        if (!e.target.closest(".dropdown")) {
            dropdownContent.classList.remove("show");
        }
    });

    document.getElementById("new-file").addEventListener("click", function (e) {
        e.preventDefault();
        document.getElementById("fileInput").click();
    });
</script>