<section class="sidebar">
    <ul>
        <!-- Dropdown Menu Trigger -->
        <li class="dropdown">
            <a href="#" class="newFolder">New</a>
            <div class="dropdown-content">
                <a href="#" id="new-folder">New Folder</a>
                <a href="#" id="new-file">New File</a>
            </div>
        </li>
    </ul>
    <h2>Folders</h2>
    <ul>
        <% if (locals.folders) {%>
            <% folders.forEach((folder) => {%>
                <li><a href="/dashboard/<%=folder.id%>"><%=folder.folderName%></a></li>
            <%})%>
        <%}%>
    </ul>
</section>

<div id="folderModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/new-folder" method="post">
            <label for="folderName">Folder Name:</label>
            <input type="text" id="folderName" name="folderName">
            <button type="submit">Create</button>
        </form>
    </div>
</div>