<section style="border: 1px solid black;">
    <ul>
        <li>New</li>
    </ul>
    <h2>Folders</h2>
    <ul>
        <% if (locals.folders) {%>
            <% folders.forEach((folder) => {%>
                <li><a href="/dashboard/folder/<%=folder.id%>"><%=folder.folderName%></a></li>
            <%})%>
        <%}%>
    </ul>
</section>