<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Filer Dashboard</h1>
    <%- include("partials/sideBar")%>
    <%- include("partials/files")%>
</body>
</html>