body {
    margin: 0px 50px;
}

/*  Need to fix */
.errors {
    color: white;
}

.error-msg {
    color: black;
    list-style: none;
    text-align: left;
}

.error-span li{
    color: black;
    list-style: none;
    text-align: left;
    padding: 3px 0;
}