body {
    height: 100vh;
    background-color: rgb(248, 250, 253)
}

/* Dashboard Content excluding the navbar */
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

/* Wrapper for the sidebar and files partial views */
.wrapper {
    display: flex;
    flex: 1;
}
